body {
  background-color: #444;
  color: #fff;
  text-align: center;

  background: #536976;
  background: -webkit-linear-gradient(to right, #292E49, #536976);
  background: linear-gradient(to right, #292E49, #536976);

}
